<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>What pokemon am I?</title>
  </head>
  <body>
    <h1>What pokemon am I?</h1>
    <h2>Result</h2>
    <main style="margin-bottom: 0px;">
      <img src="../static/img/faces/{{ id }}.jpg"/>
      <img src="../static/img/pokes/{{ id }}.png"/>
    </main>
    <a href="http://olimp-union.com/pokemon" style="margin-bottom: 100px;">Upload new photo</a>
  </body>
</html>
